.modal-registro {
    width: 600px;
    height: 630px;
    padding: 61px 64px 52px;
    background: #FFFFFF;
    border-radius: 20px;
}

.btn-entrada,
.btn-saida,
.btn-desmarcado {
    all: unset;
    width: 230px;
    height: 56px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 22px;
    cursor: pointer;
}

.btn-entrada {
    background: #3A9FF1;
    border-radius: 10px 0px 0px 10px;
}

.btn-desmarcado {
    background: #B9B9B9;
    border-radius: 5px;
}

.btn-saida {
    background: #FF576B;
    border-radius: 0px 10px 10px 0px;
}

.container-form {
    position: relative;
}

.form__select {
    all: unset;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 5px;
    padding: 10px;
}

.select__icon {
    width: 16px;
    position: absolute;
    top: 47px;
    left: 440px;
}


.btn-formRegistro {
    all: unset;
    display: block;
    margin: 0 auto;
    background: #7978D9;
    border-radius: 5px;
    height: 46px;
    width: 236px;

    font-family: 'Rubik';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}